.product {
  display: flex;
  justify-content: space-around; }
  .product hgroup {
    margin-left: 2rem;
    margin-top: 3rem;
    margin-bottom: 2rem;
    font-size: 1.3rem;
    text-align: center;
    font-family: sans-serif; }
    .product hgroup img {
      object-fit: scale-down;
      width: 100%;
      margin: 1rem;
      align-items: center; }
  .product .caracteristicas {
    margin-top: 7rem;
    margin-bottom: 7rem;
    margin-right: 5rem;
    border: solid 2px #c59d9d;
    padding: 1rem;
    border-radius: 25px;
    width: 70%; }
    .product .caracteristicas h3 {
      margin: .7rem;
      padding: .5rem;
      text-align: center;
      font-size: 2rem; }
    .product .caracteristicas section ul li {
      margin: .3rem;
      font-family: sans-serif; }
    .product .caracteristicas section .precio {
      padding: 0;
      height: 1rem;
      color: #012e2e;
      font-size: 1.3rem;
      text-align: center; }
      .product .caracteristicas section .precio span {
        padding-top: .3rem;
        border: 1px solid #0c7967;
        height: 1.8rem;
        border-radius: 0 .5rem .5rem .5rem;
        border-width: .2rem;
        background: #d3a040;
        padding-left: .5rem;
        padding-right: .5rem; }

.condiciones {
  display: flex; }
  .condiciones .description {
    width: 70%;
    background-color: antiquewhite;
    border-radius: 25px;
    margin: 2rem;
    padding: 2rem;
    height: 100%; }
    .condiciones .description h2 {
      margin: .5rem; }
    .condiciones .description p {
      text-align: justify;
      font-size: 1.1rem; }
  .condiciones .politicas {
    width: 30%;
    height: 100%;
    background-color: #cefcee;
    border-radius: 25px;
    margin: 2rem;
    padding: 2rem; }
    .condiciones .politicas h2 {
      margin: .5rem; }

.atras {
  display: flex;
  justify-content: center; }
  .atras a {
    text-align: center;
    right: 50%;
    left: 50%;
    font-size: 1.3rem; }

.atrasp {
  display: flex;
  margin: 1rem; }
  .atrasp a {
    text-align: center;
    right: 50%;
    left: 50%;
    font-size: 1.3rem; }
