.product{
    display: flex;
    justify-content: space-around;
    
    
    hgroup{
        margin-left: 2rem;
        margin-top: 3rem;
        margin-bottom: 2rem;
        font-size: 1.3rem;
        text-align: center;
        font-family: sans-serif;

        
        
        img{
            object-fit: scale-down;
            width: 90%;
            margin: 1rem;
            align-items: center;
            
        }
        
    }
    
    .caracteristicas{
        margin-top: 7rem;
        margin-bottom: 7rem;
        margin-right: 5rem;
        border: solid 2px rgb(197, 157, 157);
        padding: 1rem;
        border-radius: 25px;
        width: 70%;
        height: 100%;
        text-align: justify;

        h2{
            text-align: center;
            margin: .5rem;
        }
        
        h3{
            margin: .7rem;
            padding: .5rem;
            text-align: center;
            font-size: 2rem;
        }
        section{
            ul{
                li{
                    margin: .3rem;
                    font-family: sans-serif;
                }
            }
            .precio{

                padding: 0;
                height: 1rem;
                color: rgb(1, 46, 46);
                font-size: 1.3rem;
                text-align: center;
                
                label{
                    padding-top: .3rem;
                    border: 1px solid rgb(12, 121, 103);
                    height: 1.8rem;
                    border-radius: 0 .5rem .5rem .5rem;
                    border-width: .2rem;
                    background:  rgb(211, 160, 64);
                    padding-left: .5rem;
                    padding-right: .5rem;
                }
                
            }
        }
    }
}
.condiciones{
    display: flex;
    .description{
        width: 70%;
        background-color: antiquewhite;
        border-radius: 25px;
        margin: 2rem;
        padding: 2rem;
        height: 100%;
        h2{
            margin: .5rem;
        }
        p{
            text-align: justify;
            font-size: 1.1rem;
        }
        
    }
    .politicas{
        width: 30%;
        height: 100%;
        background-color: rgb(206, 252, 238);
        border-radius: 25px;
        margin: 2rem;
        padding: 2rem;
        h2{
            margin: .5rem;
        }
    }
}
.atras{
    display: flex;
    justify-content: center;
    a{
        text-align: center;
        right: 50%;
        left: 50%;
        font-size: 1.3rem;
    }
   
    
}
.atrasp{
    display: flex;
    margin: 1rem;
    a{
        text-align: center;
        right: 50%;
        left: 50%;
        font-size: 1.3rem;
    }
   
    
}