.Portatiles{

	display: inline-flex;
	justify-content: space-around;
	width: 100%;
	
	
	.productos{
		p{
			font-size: 1rem;
			text-align: center;
			justify-content: center;
            margin: 0;
			img{
				margin-top: .6rem;
                padding-top: .4rem;
                
			}
            span{
                font-size: 1rem;
                margin-bottom: .5rem;
                padding-bottom: .3rem;
				font-weight: bold;
            }
			
			
		}
		.precio{

			padding: 0;
			height: 1rem;
			color: rgb(1, 46, 46);
			font-size: 1.3rem;
			
			
			span{
				padding-top: .3rem;
				border: 1px solid rgb(12, 121, 103);
				height: 1.8rem;
				border-radius: 0 .5rem .5rem .5rem;
				border-width: .2rem;
				background:  rgb(211, 160, 64);
				padding-left: .5rem;
				padding-right: .5rem;
			}
			
		}
		
		.imagen{
			object-fit: contain;
			border-bottom: solid 1px;
			height: 9rem;
			align-content: center;
			justify-items: center;
			margin-top: .4rem;
            margin-bottom: 1rem;
			padding-bottom: 1rem;
			top: 0;
		}
		
		
		color: black;
		text-decoration: none;
		display: inline-flexbox;
		justify-content: center;
		border: solid rgb(117, 106, 106) 2px ;
		border-radius: 1rem;
		margin: 1rem;
		padding: 1rem;
		width: 14rem;
		height: 30rem;
		
		span{
			font-size: 1rem;
			margin-bottom: .5rem;
            padding-bottom: .3rem;

		}
	}
	.productos:hover  {
		
		display: block;
		box-shadow: .5rem .5rem rgb(221, 188, 188);
		border-radius: 25px;
		background-color: rgb(231, 213, 188);
	}
	.producto1 {

		img{
			justify-content: center;
			
		}
		
		display: flexbox;
		flex-direction: column;
		flex-wrap: nowrap;
		
	}
	h3{
		text-align: center;
		font-size: 1.5rem;
		
	}
	button{
        background: local;
        border: 0;
    }
}
h2{
	margin: 2rem;
    a{
        text-decoration: none;
        color: black;
		margin: 2rem;
		margin-top: 2rem;
    }
}
.n1{
	width: 95%;
	display: flex;
	justify-content: space-around;
	border: 1px solid black;
	margin: 1rem;
	list-style: none;
	border-radius: 1rem;
	background-color: rgb(92, 82, 139);
	
	
	li{
		text-decoration: none;
		height: 3rem;
		margin-top: .5rem;
		width: 50%;
		text-align: center;
		
		
		
		
		a{
			text-decoration: none;
			color: white;
			align-content: center;
			font-size: 2rem;
			
			
		}
	}
}

